.App {
  text-align: center;
  color: rgb(0, 0, 0);
}
.person{
  background-color: rgb(233, 175, 68);
  padding: 15px;
  border-radius: 10px;
  width: 25%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}